/* About me */
.about {
  padding: 0;
  padding-top: 100px;
  padding-bottom: 150px;
  color: white;
  background-color: $vscode-color;
  border-radius: 40px 40px 0 0;
}

.portrait {
  width: 300px;
  margin: 0 auto;
}

.portrait img {
  width: 100%;
  border-radius: 50%;
}

.about-text {
  padding-left: 100px;
}

.about span {
  font-size: 2em;
}

.about p {
  font-size: 1.8em;
  margin: 15px 150px 15px 50px;
}

.about a {
  color: white;
  text-decoration: underline;
}

.about a:active {
  color: black;
}

/* Skills */
.skills {
  @include flexbox-base(column, center);
  /* display: flex;
  flex-direction: column;
  align-items: center; */
  margin-bottom: 200px;
}

.skills h2 {
  margin-top: 100px;
  margin-bottom: 40px;
  font-size: 40px;
}

.skills > div {
  @include flexbox-base;
  /* display: flex; */
}

.skills > div > div {
  @include flexbox-base;
  /* display: flex; */
}

.skills > div > div > div {
  width: 310px;
  height: 310px;
  border-radius: 10px;
  margin: 10px;
  @include flexbox-base(column, center, center);
  /* display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;  */
  box-sizing: border-box;
  box-shadow: 0 0 20px 4px rgb(175, 175, 175);
}

.skills p {
  margin: 10px;
  padding: 0;
  font-weight: 600;
  font-size: 25px;
}

.skill-icon {
  font-size: 15em;
  margin: 0;
  padding: 0;
}

/* HTML */
.html .skill-icon {
  color: #f16528;
}
.html {
  position: relative;
  transition: background 1s;
}
.html:hover {
  background: #222;
}
.html::after{
  content: "";
  opacity: 0;
  transition: opacity 1s;
}
.html:hover::after {
  content: "";
  background:#222 url('../images/html.png') 0 0 no-repeat;
  opacity: 1;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: absolute;
  z-index: 0;
  border-radius: 10px;
}
.html .skill-icon, .html p {
  opacity: 1;
  transition: opacity 1s;
}
.html:hover .skill-icon, .html:hover p {
  opacity: 0;
}

/* CSS */
.css .skill-icon {
  color: #2a65f1;
}
.css {
  position: relative;
  transition: background 1s;
}
.css:hover {
  background: #222;
}
.css::after{
  content: "";
  opacity: 0;
  transition: opacity 1s;
}
.css:hover::after {
  content: "";
  background:#222 url('../images/css.png') 0 0 no-repeat;
  opacity: 1;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: absolute;
  z-index: 0;
  border-radius: 10px;
}
.css .skill-icon, .css p {
  opacity: 1;
  transition: opacity 1s;
}
.css:hover .skill-icon, .css:hover p {
  opacity: 0;
}

/* JS */
.js .skill-icon {
  color: #f7df1d;
}
.js {
  position: relative;
  transition: background 1s;
}
.js:hover {
  background: #222;
}
.js::after{
  content: "";
  opacity: 0;
  transition: opacity 1s;
}
.js:hover::after {
  content: "";
  background:#222 url('../images/js.png') 0 0 no-repeat;
  opacity: 1;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: absolute;
  z-index: 0;
  border-radius: 10px;
}
.js .skill-icon, .js p {
  opacity: 1;
  transition: opacity 1s;
}
.js:hover .skill-icon, .js:hover p {
  opacity: 0;
}

/* React */
.react .skill-icon {
  color: #00d8ff;
}
.react {
  position: relative;
  transition: background 1s;
}
.react:hover {
  background: #222;
}
.react::after{
  content: "";
  opacity: 0;
  transition: opacity 1s;
}
.react:hover::after {
  content: "";
  background:#222 url('../images/react.png') 0 0 no-repeat;
  opacity: 1;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: absolute;
  z-index: 0;
  border-radius: 10px;
}
.react .skill-icon, .react p {
  opacity: 1;
  transition: opacity 1s;
}
.react:hover .skill-icon, .react:hover p {
  opacity: 0;
}

/* SASS */
.sass .skill-icon {
  color: #cd6799;
}
.sass {
  position: relative;
  transition: background 1s;
}
.sass:hover {
  background: #222;
}
.sass::after{
  content: "";
  opacity: 0;
  transition: opacity 1s;
}
.sass:hover::after {
  content: "";
  background:#222 url('../images/sass.png') 0 0 no-repeat;
  opacity: 1;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: absolute;
  z-index: 0;
  border-radius: 10px;
}
.sass .skill-icon, .sass p {
  opacity: 1;
  transition: opacity 1s;
}
.sass:hover .skill-icon, .sass:hover p {
  opacity: 0;
}

/* Bootstrap */
.bootstrap .skill-icon {
  color: #563e7c;
}
.bootstrap {
  position: relative;
  transition: background 1s;
}
.bootstrap:hover {
  background: #222;
}
.bootstrap::after{
  content: "";
  opacity: 0;
  transition: opacity 1s;
}
.bootstrap:hover::after {
  content: "";
  background:#222 url('../images/bootstrap.png') 0 0 no-repeat;
  opacity: 1;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: absolute;
  z-index: 0;
  border-radius: 10px;
}
.bootstrap .skill-icon, .bootstrap p {
  opacity: 1;
  transition: opacity 1s;
}
.bootstrap:hover .skill-icon, .bootstrap:hover p {
  opacity: 0;
}

/* Git */
.git .skill-icon {
  color: #f05134;
}
.git {
  position: relative;
  transition: background 1s;
}
.git:hover {
  background: #222;
}
.git::after{
  content: "";
  opacity: 0;
  transition: opacity 1s;
}
.git:hover::after {
  content: "";
  background:#222 url('../images/git.png') 0 0 no-repeat;
  opacity: 1;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: absolute;
  z-index: 0;
  border-radius: 10px;
}
.git .skill-icon, .git p {
  opacity: 1;
  transition: opacity 1s;
}
.git:hover .skill-icon, .git:hover p {
  opacity: 0;
}

/* Responsive */
.responsive .skill-icon {

}
.responsive {
  position: relative;
  transition: background 1s;
}
.responsive:hover {
  background: #222;
}
.responsive::after{
  content: "";
  opacity: 0;
  transition: opacity 1s;
}
.responsive:hover::after {
  content: "";
  background:#222 url('../images/responsive.png') 0 0 no-repeat;
  opacity: 1;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: absolute;
  z-index: 0;
  border-radius: 10px;
}
.responsive .skill-icon, .responsive p {
  opacity: 1;
  transition: opacity 1s;
}
.responsive:hover .skill-icon, .responsive:hover p {
  opacity: 0;
}