
footer {
    background-color: $vscode-color;
    height: 300px;
    border-radius: 40px 40px 0 0;
    @include flexbox-base(column, center, space-evenly);
    display: flex;
    /* flex-direction: column;
    align-items: center;
    justify-content: space-evenly; */
    div {
        @include flexbox-base(row, normal, space-around);
        /* display: flex;
        justify-content: space-around; */
        width: 20%;
    }
     a {
        text-decoration: none;
        color: inherit;
    }
    p {
        color: white;
        text-align: center;
        
        span:first-of-type {
            padding-left: 15px;
        }
        span:nth-of-type(2) {
            
        }
    }
}

.footer-icon {
    color: white;
}

.footer-link-icon {
    color: white;
    filter: drop-shadow(0 0 7px white);
}

.footer-react-icon {

}