/* BREAKPOINTS */
/* 1400 */
/* 1200 */
/* 992 */
/* 768 */
/* 576 */

@media (max-width: 1400px) {
    /* Header */
    .header h1 {
        font-size: 50px;
    }
    .header p, .header span {
        font-size: 25px;
    }

    /* Home */
    .presentation {
        padding-left: 70px;
    }
    .doctype {
        padding-top: 50px;
    }
    .title-tag, .p-tag, .p-text {
        font-size: 1.5em;
    }
    .html-end {
        padding-bottom: 50px;
    }

    .work h2 {
        font-size: 35px;
    }

    /* About */
    .about {
        padding-top: 50px;
        padding-bottom: 70px
    }
    .portrait {
        width: 200px;
    }
    .about p {
        font-size: 1.4em;
    }
    .about span {
        font-size: 1.6em;
    }

    /* Skills */
    .skills {
        margin-bottom: 100px;
    }
    .skills h2 {
        margin-top: 60px;
    }
    .skills > div > div > div {
        width: 250px;
        height: 250px;
    }
    .skill-icon {
        font-size: 12em;
    }
    .skills p {
        font-size: 20px;
    }
    .html:hover::after, .css:hover::after, .js:hover::after, .react:hover::after, .sass:hover::after, .bootstrap:hover::after, .git:hover::after, .responsive:hover::after {
        background-size: contain;
    }

    /* Footer */
    footer {
        height: 250px;
    }
}


@media (max-width: 1200px) {
        /* Header */
    .header h1 {
        font-size: 40px;
    }
    .header p, .header span {
        font-size: 20px;
    }

        /* Home */
    .presentation {
        padding-left: 50px;
    }
    .doctype {
        padding-top: 35px;
    }
    .title-tag, .p-tag, .p-text {
        font-size: 1.3em;
    }
    .html-end {
        padding-bottom: 35px;
    }

    .work h2 {
        font-size: 30px;
    }
    .card {
        width: 250px;
    }

    /* About */
    .about {
        padding-top: 40px;
        padding-bottom: 60px
    }
    .portrait {
        width: 150px;
    }
    .about p {
        font-size: 1.1em;
    }
    .about span {
        font-size: 1.3em;
    }

    /* Skills */
    .skills {
        margin-bottom: 70px;
    }
    .skills h2 {
        margin-top: 40px;
        margin-bottom: 20px;
    }
    .skills h2 {
        font-size: 25px;
        font-weight: 600;
    }
    .skills > div > div > div {
        width: 200px;
        height: 200px;
    }
    .skill-icon {
        font-size: 8em;
    }
    .skills p {
        font-size: 20px;
    }

    /* Footer */
    footer {
        height: 210px;   
        
        p {
            font-size: 14px;
        }
    }
    .footer-icon {
        font-size: 2.1em;
    }
    .footer-link-icon {
        font-size: 1.6em;
    }
}

@media (max-width: 992px) {
    /* Header */
    .header h1 {
        font-size: 35px;
    }
    .header p, .header span {
        font-size: 20px;
    }
    nav {
        padding: 10px 30px;
    }
    .nav-icon {
        font-size: 30px;
    }
    .header nav p {
        font-size: 18px;
    }
    nav li {
        font-size: 18px;
        margin-left: 30px;
        font-weight: 500;
    }

    .active {
        font-size: 19px;
        font-weight: 500;
    }

    /* Home */
    .title-tag, .p-tag, .p-text {
        font-size: 1.0em;
    }
    /* Work */
    .work {
        margin-top: 0;
        margin-bottom: 50px;
    }
    .card {
        width: 200px;
    }
    .img-card {
        max-height: 400px;
    }

    /* About */
    .about {
        padding-top: 40px;
        padding-bottom: 60px
    }
    .portrait {
        width: 120px;
    }
    .about-text {
        padding-left: 50px;
    }
    .about p {
        font-size: 0.9em;
        margin: 15px 100px 15px 50px;
    }
    .about span {
        font-size: 1.1em;
    }

    /* Skills */
    .skills > div {
        @include flexbox-base(column);
    }

    /* Contact */
    .form {
        form {
            width: 60%
        }
        label {
            font-size: 1.0em;
        }
        input {
            font-size: 1.1em;
        }
        textarea {
            font-size: 1.1em;
        }
    }

    /* Footer */
    footer {
        height: 160px;
        @include flexbox-base(column, center, center);
        
        & > * {
            padding: 5px 0;
        }
        p {
            font-size: 12px;
        }
    }
    .footer-link-icon {
        font-size: 1.4em;
    }
}

@media (max-width: 768px) {
    /* Header */
    .header h1 {
        font-size: 30px;
    }
    .header p, .header span {
        font-size: 20px;
    }
    nav {
        padding: 5px 20px;
    }
    .nav-icon {
        font-size: 25px;
    }
    .header nav p {
        font-size: 16px;
    }
    nav li {
        font-size: 16px;
        margin-left: 20px;
        font-weight: 500;
    }

    .active {
        font-size: 17px;
        font-weight: 500;
    }

    /* Home */
    .presentation {
        padding-left: 30px;
    }
    .presentation * {
        font-size: 0.9em;
    }
    .head-tag, .body-tag {
        margin-left: 30px;
    }
    .title-tag, .p-tag {
        margin-left: 50px;
    }
    .p-text {
        margin-left: 70px;
    }

    .work {
        margin-bottom: 20px;
    }
    .work h2 {
        font-size: 25px;
        margin-top: 20px;
        margin-bottom: 0; 
    }
    .card-container {
        @include flexbox-base(row, center, center);
    }
    .card {
        width: 160px;
    }
    .card p {
        font-size: 12px;
        font-weight: 500;
    }
    .img-card {
        max-height: 350px;
    }

    /* Footer */
    footer {
        height: 130px;
       

        div {
            @include flexbox-base(row, normal, space-between);
        }
        & > * {
            padding: 5px 0;
        }
        p {
            font-size: 10px;
        }
    }
    .footer-icon {
        font-size: 1.7em;
    }
    .footer-link-icon {
        font-size: 1.1em;
    }
}

@media (max-width: 576px) {
    /* Header */
    .header h1 {
        font-size: 20px;
    }
    .header p, .header span {
        font-size: 15px;
    }
    nav {
        margin: 0;
        padding: 20px 10px;
    }
    .nav-icon {
        font-size: 35px;
    }
    .header nav p {
        font-size: 12px;
        padding: 0;
        margin: 0;
        margin-left: 10px;
    }
    nav li {
        font-size: 12px;
        margin-left: 10px;
        font-weight: 400;
    }

    .active {
        font-size: 13px;
        font-weight: 500;
    }

    /* Dropdown */
    .dropdown-content {
        display: none;
    }
    .dropbtn {
        display: inline-block;
        background-color: white;
        border: none;
    }


    /* Home */
    .presentation {
        @include flexbox-base(column, flex-start, space-evenly);
        height: 100vh;
        padding-left: 20px;
    }
    .presentation * {
        font-size: 1.0em;
    }
    .head-tag, .body-tag {
        margin-left: 20px;
    }
    .title-tag, .p-tag {
        margin-left: 40px;
    }
    .p-text {
        margin-left: 60px;
    }

    .work {
        margin-bottom: 20px;
    }
    .work h2 {
        font-size: 18px;
        font-weight: 500;
        margin-top: 20px;
        margin-bottom: 0; 
    }
    .card-container {
        @include flexbox-base(column, center, center);
    }
    .card {
        width: 200px;
    }
    .card p {
        font-size: 12px;
        font-weight: 500;
    }
    .img-card {
        max-height: 280px;
    }

        /* About */
    .about {
        height: 100vh;
        padding-top: 40px;
        padding-bottom: 60px;
        box-sizing: border-box;
    }
    .portrait {
        width: 150px;
    }
    .about-text {
        padding-left: 20px;
    }
    .about p {
        font-size: 1.0em;
        margin: 15px 40px 15px 20px;
    }
    .about span {
        font-size: 0.9em;
    }

    /* Skills */
    .skills {
        height: 100vh;
        margin-bottom: 50px;
    }
    .skills h2 {
        margin-top: 30px;
        margin-bottom: 20px;
        font-size: 22px;
        font-weight: 600;
    }
    .skills > div > div > div {
        width: 120px;
        height: 120px;
    }
    .skill-icon {
        font-size: 4em;
    }
    .skills p {
        font-size: 12px;
    }

        /* Contact */
    .form {
        padding-top: 30px;
        padding-bottom: 20px;

        form {
            width: 80%;
            margin-bottom: 20px;
        }
        label {
            font-size: 0.9em;
        }
        input {
            font-size: 1.0em;
        }
        textarea {
            font-size: 1.0em;
        }
        button {
            font-size: 1.2em;
            width: 150px;
        }
    }

    /* Footer */
    footer {
        height: 130px;
       

        div {
            @include flexbox-base(row, normal, space-between);
        }
        & > * {
            padding: 5px 0;
        }
        p {
            font-size: 10px;
        }
    }
    .footer-icon {
        font-size: 1.7em;
    }
    .footer-link-icon {
        font-size: 1.1em;
    }
}