@import url("https://fonts.googleapis.com/css2?family=Source+Code+Pro:wght@400;500;600;700&display=swap");
/* Utilities */
/* Genereal styles */
html, body {
  font-family: "Source Code Pro", monospace;
  margin: 0;
  padding: 0;
  height: 100%;
}

a {
  text-decoration: none;
}

a:active {
  color: white;
}

ul {
  list-style-type: none;
}

/* Header */
.header {
  height: 100vh;
  overflow: hidden;
}

.header-background {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: normal;
  justify-content: center;
  filter: grayscale(100%);
}

.header-background::after {
  content: "";
  background: url("../images/header2.png");
  opacity: 0.2;
  z-index: -1;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.header-background > div {
  margin: 0;
  margin-top: -150px;
  margin-left: 15%;
  padding: 30px 50px 70px;
  border-left: 4px solid black;
  max-width: 550px;
}

.header h1 {
  font-size: 60px;
  font-weight: 600;
  margin: 0;
  margin-bottom: 5px;
  margin-left: 25px;
}

.header p {
  margin: 0;
  margin-left: 25px;
  font-size: 30px;
}

.header span {
  font-size: 30px;
}

/* Navbar */
nav {
  padding: 10px 50px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: normal;
  border-bottom: 3px solid black;
}

nav ul {
  margin-left: auto;
}

nav li {
  display: inline-block;
  margin-left: 50px;
  font-size: 20px;
  font-weight: 600;
  cursor: pointer;
}

.active {
  font-size: 21px;
}

.active::before {
  content: "<";
}

.active::after {
  content: " />";
}

nav li a {
  color: black;
}

/* Home */
/* Presentation */
.presentation {
  color: white;
  background-color: #222;
  border-radius: 40px 40px 0 0;
  padding-left: 100px;
}

.doctype {
  padding-top: 100px;
}

.head-tag {
  margin-left: 50px;
}

.title-tag {
  margin-left: 100px;
  font-size: 2em;
}

.body-tag {
  margin-left: 50px;
}

.p-tag {
  margin-left: 100px;
  font-size: 2em;
}

.p-text {
  margin: 0;
  margin-left: 150px;
  font-size: 2em;
  width: 70%;
}

.p-text a {
  color: white;
  text-decoration: underline;
}

.p-text a:active {
  color: black;
}

.html-end {
  padding-bottom: 100px;
}

/* Work */
.work {
  margin: 0;
  margin-top: 50px;
  margin-bottom: 150px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: normal;
}

.work a {
  text-decoration: none;
  color: inherit;
}

.work h2 {
  margin: 40px 0;
  font-size: 40px;
}

.card-container {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  margin: 20px 0;
}

.card {
  width: 300px;
  padding: 0;
  margin: 10px;
  box-shadow: 0 0 15px 5px #ccc;
  border-radius: 10px;
  text-align: center;
  box-sizing: border-box;
  transition: transform 0.5s, box-shadow 0.5s;
}

.card:hover {
  transform: scale(1.05);
  box-shadow: 0 0 20px 15px #ccc;
}

.img-card {
  width: 100%;
  max-height: 500px;
  box-sizing: border-box;
  border-radius: 10px 10px 0 0;
  overflow: hidden;
}

.img-card img {
  width: 100%;
}

.card p {
  margin: 10px 0;
  padding: 0;
  font-weight: 600;
}

.github {
  color: blue;
  text-decoration: underline;
}

/* About */
/* About me */
.about {
  padding: 0;
  padding-top: 100px;
  padding-bottom: 150px;
  color: white;
  background-color: #222;
  border-radius: 40px 40px 0 0;
}

.portrait {
  width: 300px;
  margin: 0 auto;
}

.portrait img {
  width: 100%;
  border-radius: 50%;
}

.about-text {
  padding-left: 100px;
}

.about span {
  font-size: 2em;
}

.about p {
  font-size: 1.8em;
  margin: 15px 150px 15px 50px;
}

.about a {
  color: white;
  text-decoration: underline;
}

.about a:active {
  color: black;
}

/* Skills */
.skills {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: normal;
  margin-bottom: 200px;
}

.skills h2 {
  margin-top: 100px;
  margin-bottom: 40px;
  font-size: 40px;
}

.skills > div {
  display: flex;
  flex-direction: row;
  align-items: normal;
  justify-content: normal;
}

.skills > div > div {
  display: flex;
  flex-direction: row;
  align-items: normal;
  justify-content: normal;
}

.skills > div > div > div {
  width: 310px;
  height: 310px;
  border-radius: 10px;
  margin: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
  box-shadow: 0 0 20px 4px #afafaf;
}

.skills p {
  margin: 10px;
  padding: 0;
  font-weight: 600;
  font-size: 25px;
  text-align: center;
}

.skill-icon {
  font-size: 15em;
  margin: 0;
  padding: 0;
}

/* HTML */
.html .skill-icon {
  color: #f16528;
}

.html {
  position: relative;
  transition: background 1s;
}

.html:hover {
  background: #222;
}

.html::after {
  content: "";
  opacity: 0;
  transition: opacity 1s;
}

.html:hover::after {
  content: "";
  background: #222 url("../images/html.png") 0 0 no-repeat;
  opacity: 1;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: absolute;
  z-index: 0;
  border-radius: 10px;
}

.html .skill-icon, .html p {
  opacity: 1;
  transition: opacity 1s;
}

.html:hover .skill-icon, .html:hover p {
  opacity: 0;
}

/* CSS */
.css .skill-icon {
  color: #2a65f1;
}

.css {
  position: relative;
  transition: background 1s;
}

.css:hover {
  background: #222;
}

.css::after {
  content: "";
  opacity: 0;
  transition: opacity 1s;
}

.css:hover::after {
  content: "";
  background: #222 url("../images/css.png") 0 0 no-repeat;
  opacity: 1;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: absolute;
  z-index: 0;
  border-radius: 10px;
}

.css .skill-icon, .css p {
  opacity: 1;
  transition: opacity 1s;
}

.css:hover .skill-icon, .css:hover p {
  opacity: 0;
}

/* JS */
.js .skill-icon {
  color: #f7df1d;
}

.js {
  position: relative;
  transition: background 1s;
}

.js:hover {
  background: #222;
}

.js::after {
  content: "";
  opacity: 0;
  transition: opacity 1s;
}

.js:hover::after {
  content: "";
  background: #222 url("../images/js.png") 0 0 no-repeat;
  opacity: 1;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: absolute;
  z-index: 0;
  border-radius: 10px;
}

.js .skill-icon, .js p {
  opacity: 1;
  transition: opacity 1s;
}

.js:hover .skill-icon, .js:hover p {
  opacity: 0;
}

/* React */
.react .skill-icon {
  color: #00d8ff;
}

.react {
  position: relative;
  transition: background 1s;
}

.react:hover {
  background: #222;
}

.react::after {
  content: "";
  opacity: 0;
  transition: opacity 1s;
}

.react:hover::after {
  content: "";
  background: #222 url("../images/react.png") 0 0 no-repeat;
  opacity: 1;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: absolute;
  z-index: 0;
  border-radius: 10px;
}

.react .skill-icon, .react p {
  opacity: 1;
  transition: opacity 1s;
}

.react:hover .skill-icon, .react:hover p {
  opacity: 0;
}

/* SASS */
.sass .skill-icon {
  color: #cd6799;
}

.sass {
  position: relative;
  transition: background 1s;
}

.sass:hover {
  background: #222;
}

.sass::after {
  content: "";
  opacity: 0;
  transition: opacity 1s;
}

.sass:hover::after {
  content: "";
  background: #222 url("../images/sass.png") 0 0 no-repeat;
  opacity: 1;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: absolute;
  z-index: 0;
  border-radius: 10px;
}

.sass .skill-icon, .sass p {
  opacity: 1;
  transition: opacity 1s;
}

.sass:hover .skill-icon, .sass:hover p {
  opacity: 0;
}

/* Bootstrap */
.bootstrap .skill-icon {
  color: #563e7c;
}

.bootstrap {
  position: relative;
  transition: background 1s;
}

.bootstrap:hover {
  background: #222;
}

.bootstrap::after {
  content: "";
  opacity: 0;
  transition: opacity 1s;
}

.bootstrap:hover::after {
  content: "";
  background: #222 url("../images/bootstrap.png") 0 0 no-repeat;
  opacity: 1;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: absolute;
  z-index: 0;
  border-radius: 10px;
}

.bootstrap .skill-icon, .bootstrap p {
  opacity: 1;
  transition: opacity 1s;
}

.bootstrap:hover .skill-icon, .bootstrap:hover p {
  opacity: 0;
}

/* Git */
.git .skill-icon {
  color: #f05134;
}

.git {
  position: relative;
  transition: background 1s;
}

.git:hover {
  background: #222;
}

.git::after {
  content: "";
  opacity: 0;
  transition: opacity 1s;
}

.git:hover::after {
  content: "";
  background: #222 url("../images/git.png") 0 0 no-repeat;
  opacity: 1;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: absolute;
  z-index: 0;
  border-radius: 10px;
}

.git .skill-icon, .git p {
  opacity: 1;
  transition: opacity 1s;
}

.git:hover .skill-icon, .git:hover p {
  opacity: 0;
}

/* Responsive */
.responsive {
  position: relative;
  transition: background 1s;
}

.responsive:hover {
  background: #222;
}

.responsive::after {
  content: "";
  opacity: 0;
  transition: opacity 1s;
}

.responsive:hover::after {
  content: "";
  background: #222 url("../images/responsive.png") 0 0 no-repeat;
  opacity: 1;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: absolute;
  z-index: 0;
  border-radius: 10px;
}

.responsive .skill-icon, .responsive p {
  opacity: 1;
  transition: opacity 1s;
}

.responsive:hover .skill-icon, .responsive:hover p {
  opacity: 0;
}

/* Contact */
.form {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: 70px 0;
  border-top: 3px solid #222;
}
.form form {
  width: 40%;
  box-sizing: border-box;
  font-size: inherit;
  font-family: "Source Code Pro", monospace;
  margin-bottom: 50px;
}
.form form > div {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: normal;
  width: 100%;
}
.form label {
  width: 100%;
  box-sizing: border-box;
  padding: 20px 0;
  font-size: 1.2rem;
}
.form label:first-of-type {
  margin-right: 10px;
}
.form label:nth-of-type(2) {
  margin-left: 10px;
}
.form input {
  width: 100%;
  display: block;
  font-size: 1.3rem;
  font-family: inherit;
  margin: 10px 0;
  padding: 10px 15px;
  box-sizing: border-box;
  border: none;
  border-radius: 5px;
  background-color: #222;
  color: white;
}
.form textarea {
  display: block;
  font-size: 1.3rem;
  font-family: inherit;
  width: 100%;
  margin: 10px 0;
  padding: 10px 15px;
  box-sizing: border-box;
  border: none;
  border-radius: 5px;
  background-color: #222;
  color: white;
}
.form button {
  display: block;
  font-size: 1.5rem;
  font-family: inherit;
  width: 200px;
  margin: 0 auto;
  padding: 10px 0px;
  border: none;
  border-radius: 66px;
  background-color: #22d122;
  color: white;
  cursor: pointer;
}

.form .disabled {
  background: rgba(224, 20, 20, 0.623);
  overflow: hidden;
  z-index: 2;
  cursor: auto;
}

.invisible {
  display: none;
}

.visible {
  display: block;
  margin-top: 20px;
  font-size: 1.3rem;
  font-weight: 600;
  text-align: center;
  padding: 10px 15px;
  color: white;
  background-color: #14e025;
  border: none;
  border-radius: 10px;
  line-height: 2rem;
  box-sizing: border-box;
}

/* Footer */
footer {
  background-color: #222;
  height: 300px;
  border-radius: 40px 40px 0 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  box-shadow: 0 0 10px 0px #222;
}
footer div {
  display: flex;
  flex-direction: row;
  align-items: normal;
  justify-content: space-around;
  width: 20%;
}
footer a {
  text-decoration: none;
  color: inherit;
}
footer p {
  color: white;
  text-align: center;
  margin: 0;
}
footer p span:first-of-type {
  padding-left: 15px;
}
.footer-icon {
  color: white;
}

.footer-link-icon {
  color: white;
  filter: drop-shadow(0 0 5px white);
}

/* Responsiveness */
/* BREAKPOINTS */
/* 1400 */
/* 1200 */
/* 992 */
/* 768 */
/* 576 */
@media (max-width: 1400px) {
  /* Header */
  .header h1 {
    font-size: 50px;
  }

  .header p, .header span {
    font-size: 25px;
  }

  /* Home */
  .presentation {
    padding-left: 70px;
  }

  .doctype {
    padding-top: 50px;
  }

  .title-tag, .p-tag, .p-text {
    font-size: 1.5em;
  }

  .html-end {
    padding-bottom: 50px;
  }

  .work h2 {
    font-size: 35px;
  }

  /* About */
  .about {
    padding-top: 50px;
    padding-bottom: 70px;
  }

  .portrait {
    width: 200px;
  }

  .about p {
    font-size: 1.4em;
  }

  .about span {
    font-size: 1.6em;
  }

  /* Skills */
  .skills {
    margin-bottom: 100px;
  }

  .skills h2 {
    margin-top: 60px;
  }

  .skills > div > div > div {
    width: 250px;
    height: 250px;
  }

  .skill-icon {
    font-size: 12em;
  }

  .skills p {
    font-size: 20px;
  }

  .html:hover::after, .css:hover::after, .js:hover::after, .react:hover::after, .sass:hover::after, .bootstrap:hover::after, .git:hover::after, .responsive:hover::after {
    background-size: contain;
  }

  /* Footer */
  footer {
    height: 250px;
  }
}
@media (max-width: 1200px) {
  /* Header */
  .header h1 {
    font-size: 40px;
  }

  .header p, .header span {
    font-size: 20px;
  }

  /* Home */
  .presentation {
    padding-left: 50px;
  }

  .doctype {
    padding-top: 35px;
  }

  .title-tag, .p-tag, .p-text {
    font-size: 1.3em;
  }

  .html-end {
    padding-bottom: 35px;
  }

  .work h2 {
    font-size: 30px;
  }

  .card {
    width: 250px;
  }

  /* About */
  .about {
    padding-top: 40px;
    padding-bottom: 60px;
  }

  .portrait {
    width: 150px;
  }

  .about p {
    font-size: 1.1em;
  }

  .about span {
    font-size: 1.3em;
  }

  /* Skills */
  .skills {
    margin-bottom: 70px;
  }

  .skills h2 {
    margin-top: 40px;
    margin-bottom: 20px;
  }

  .skills h2 {
    font-size: 25px;
    font-weight: 600;
  }

  .skills > div > div > div {
    width: 200px;
    height: 200px;
  }

  .skill-icon {
    font-size: 8em;
  }

  .skills p {
    font-size: 20px;
  }

  /* Footer */
  footer {
    height: 210px;
  }
  footer p {
    font-size: 14px;
  }

  .footer-icon {
    font-size: 2.1em;
  }

  .footer-link-icon {
    font-size: 1.6em;
  }
}
@media (max-width: 992px) {
  /* Header */
  .header h1 {
    font-size: 35px;
  }

  .header p, .header span {
    font-size: 20px;
  }

  nav {
    padding: 10px 30px;
  }

  .nav-icon {
    font-size: 30px;
  }

  .header nav p {
    font-size: 18px;
  }

  nav li {
    font-size: 18px;
    margin-left: 30px;
    font-weight: 500;
  }

  .active {
    font-size: 19px;
    font-weight: 500;
  }

  /* Home */
  .title-tag, .p-tag, .p-text {
    font-size: 1em;
  }

  /* Work */
  .work {
    margin-top: 0;
    margin-bottom: 50px;
  }

  .card {
    width: 200px;
  }

  .img-card {
    max-height: 400px;
  }

  /* About */
  .about {
    padding-top: 40px;
    padding-bottom: 60px;
  }

  .portrait {
    width: 120px;
  }

  .about-text {
    padding-left: 50px;
  }

  .about p {
    font-size: 0.9em;
    margin: 15px 100px 15px 50px;
  }

  .about span {
    font-size: 1.1em;
  }

  /* Skills */
  .skills > div {
    display: flex;
    flex-direction: column;
    align-items: normal;
    justify-content: normal;
  }

  /* Contact */
  .form form {
    width: 60%;
  }
  .form label {
    font-size: 1em;
  }
  .form input {
    font-size: 1.1em;
  }
  .form textarea {
    font-size: 1.1em;
  }

  /* Footer */
  footer {
    height: 160px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  footer > * {
    padding: 5px 0;
  }
  footer p {
    font-size: 12px;
  }

  .footer-link-icon {
    font-size: 1.4em;
  }
}
@media (max-width: 768px) {
  /* Header */
  .header h1 {
    font-size: 30px;
  }

  .header p, .header span {
    font-size: 20px;
  }

  nav {
    padding: 5px 20px;
  }

  .nav-icon {
    font-size: 25px;
  }

  .header nav p {
    font-size: 16px;
  }

  nav li {
    font-size: 16px;
    margin-left: 20px;
    font-weight: 500;
  }

  .active {
    font-size: 17px;
    font-weight: 500;
  }

  /* Home */
  .presentation {
    padding-left: 30px;
  }

  .presentation * {
    font-size: 0.9em;
  }

  .head-tag, .body-tag {
    margin-left: 30px;
  }

  .title-tag, .p-tag {
    margin-left: 50px;
  }

  .p-text {
    margin-left: 70px;
  }

  .work {
    margin-bottom: 20px;
  }

  .work h2 {
    font-size: 25px;
    margin-top: 20px;
    margin-bottom: 0;
  }

  .card-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
  }

  .card {
    width: 160px;
  }

  .card p {
    font-size: 12px;
    font-weight: 500;
  }

  .img-card {
    max-height: 350px;
  }

  /* Footer */
  footer {
    height: 130px;
  }
  footer div {
    display: flex;
    flex-direction: row;
    align-items: normal;
    justify-content: space-between;
  }
  footer > * {
    padding: 5px 0;
  }
  footer p {
    font-size: 10px;
  }

  .footer-icon {
    font-size: 1.7em;
  }

  .footer-link-icon {
    font-size: 1.1em;
  }
}
@media (max-width: 576px) {
  /* Header */
  .header h1 {
    font-size: 20px;
  }

  .header p, .header span {
    font-size: 15px;
  }

  nav {
    margin: 0;
    padding: 0px 10px;
  }

  .nav-icon {
    font-size: 20px;
  }

  .header nav p {
    font-size: 12px;
    padding: 0;
    margin: 0;
    margin-left: 10px;
  }

  nav li {
    font-size: 12px;
    margin-left: 10px;
    font-weight: 400;
  }

  .active {
    font-size: 13px;
    font-weight: 500;
  }

  /* Home */
  .presentation {
    padding-left: 20px;
  }

  .presentation * {
    font-size: 0.7em;
  }

  .head-tag, .body-tag {
    margin-left: 20px;
  }

  .title-tag, .p-tag {
    margin-left: 40px;
  }

  .p-text {
    margin-left: 60px;
  }

  .work {
    margin-bottom: 20px;
  }

  .work h2 {
    font-size: 18px;
    font-weight: 500;
    margin-top: 20px;
    margin-bottom: 0;
  }

  .card-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .card {
    width: 200px;
  }

  .card p {
    font-size: 12px;
    font-weight: 500;
  }

  .img-card {
    max-height: 280px;
  }

  /* About */
  .about {
    padding-top: 40px;
    padding-bottom: 60px;
  }

  .portrait {
    width: 100px;
  }

  .about-text {
    padding-left: 20px;
  }

  .about p {
    font-size: 0.7em;
    margin: 15px 40px 15px 20px;
  }

  .about span {
    font-size: 0.9em;
  }

  /* Skills */
  .skills {
    margin-bottom: 50px;
  }

  .skills h2 {
    margin-top: 30px;
    margin-bottom: 20px;
    font-size: 22px;
    font-weight: 600;
  }

  .skills > div > div > div {
    width: 120px;
    height: 120px;
  }

  .skill-icon {
    font-size: 4em;
  }

  .skills p {
    font-size: 12px;
  }

  /* Contact */
  .form {
    padding-top: 30px;
    padding-bottom: 20px;
  }
  .form form {
    width: 80%;
    margin-bottom: 20px;
  }
  .form label {
    font-size: 0.9em;
  }
  .form input {
    font-size: 1em;
  }
  .form textarea {
    font-size: 1em;
  }
  .form button {
    font-size: 1.2em;
    width: 150px;
  }

  /* Footer */
  footer {
    height: 130px;
  }
  footer div {
    display: flex;
    flex-direction: row;
    align-items: normal;
    justify-content: space-between;
  }
  footer > * {
    padding: 5px 0;
  }
  footer p {
    font-size: 10px;
  }

  .footer-icon {
    font-size: 1.7em;
  }

  .footer-link-icon {
    font-size: 1.1em;
  }
}/*# sourceMappingURL=App.css.map */